# HTTP Server Settings
HTTP_SERVER_HOST=your_http_server_host_here
HTTP_SERVER_PORT=your_http_server_port_here
HTTP_SERVER_ENV=your_http_server_environment_here

# MongoDB Settings
MONGODB_USERNAME=your_mongodb_username_here
MONGODB_PASSWORD=your_mongodb_password_here
MONGODB_HOST=your_mongodb_host_here
MONGODB_PORT=your_mongodb_port_here
MONGODB_DATABASE=your_mongodb_database_name_here
MONGODB_CONN_STRING=your_mongodb_conn_string_here

# Redis Settings (Rate Limit on DB 0, Celery Results on DB 1)
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_PASSWORD=your_redis_password_here
REDIS_RATE_LIMIT_DB=your_redis_rate_limit_db_here
REDIS_BACKEND_DB=your_redis_backend_db_here
REDIS_RATE_LIMIT_CONN_STRING=your_redis_rate_limit_connection_string_here
REDIS_BACKEND_CONN_STRING=your_redis_backend_connection_string_here

# RabbitMQ Settings (The Celery Task Broker)
RABBITMQ_USERNAME=your_rabbitmq_username_here
RABBITMQ_PASSWORD=your_rabbitmq_password_here
RABBITMQ_HOST=your_rabbitmq_host_here
RABBITMQ_PORT=your_rabbitmq_port_here
RABBITMQ_VHOST=your_rabbitmq_vhost_here
RABBITQM_BROKER_CONN_STRING=your_rabbitmq_connection_string_here
