# HTTP Server Settings
HTTP_SERVER_HOST=your_http_server_host_here
HTTP_SERVER_PORT=your_http_server_port_here
HTTP_SERVER_ENV=your_http_server_environment_here

# HTTP Client Settings
HTTP_CLIENT_TIMEOUT_SECONDS=your_http_client_timeout_seconds_here

# Telegram Settings
TELEGRAM_MODE=your_telegram_mode_here
TELEGRAM_BASE_URL=your_telegram_base_url_here
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_API_KEY=your_telegram_api_key_here

# Task Service Settings
TASK_SERVICE_BASE_URL=your_task_service_base_url_here

# MongoDB Settings
MONGODB_USERNAME=your_mongodb_username_here
MONGODB_PASSWORD=your_mongodb_password_here
MONGODB_HOST=your_mongodb_host_here
MONGODB_PORT=your_mongodb_port_here
MONGODB_DATABASE=your_mongodb_database_name_here
MONGODB_CONN_STRING=your_mongodb_conn_string_here
